<header>
  <div class="logo">
    <h1>CAS VAN DER HOVEN</h1>
    <h2>DESIGNER, DEVELOPER AND FINANCE GRADUATE</h2>
  </div>
  <div class="header-text">
    <h1>
      I like impact investment
    </h1>
  </div>
</header>
