<header>
  <%= link_to projects_path do %>
  <div class="logo">
    <h1>CAS VAN DER HOVEN</h1>
    <h2>DESIGNER, DEVELOPER AND FINANCE GRADUATE</h2>
  </div>
<% end %>
  <div class="header-text">
    <h1 class="typed">
    </h1>
  </div>
</header>
