<header>
  <div class="logo">
  <%= link_to root_path do %>
    <h1>CAS VAN DER HOVEN</h1>
<% end %>
    <h2>DESIGNER, DEVELOPER AND FINANCE GRADUATE</h2>
  </div>
  <div class="header-text">
    <h1 class="typed">
    </h1>
  </div>
</header>
