/* header */
@media only screen and (min-device-width : 320px) and (max-device-width: 480px)
{
  header {
    display: none;
  }
  .mobile-header {
    background-color: $yellow;
    margin-bottom: 20px;
    div.block {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-color: $blue;
      vertical-align: top;
      i.fa {
        padding: 4px;
      }
    }
    h1 {
      display: inline;
    }
    a {
      color: $black
    }
    ul.mobile-menu {
      background-color: $yellow;
      display: none;
      li {
        h2 {
          font-size: 1em;
          padding: 4px;
          i {
            padding-right: 4px;
          }
        }
      }
    }
  }
}
@media only screen and (min-device-width : 481px) {
  .mobile-header {
    display: none;
  }
  header {
    margin-bottom: 100px;
    height: 229px;
    a {
      color: $black;
      &:hover {
        color: $black;
      }
    }
    div.logo {
      @include grid-column(4);
      div.blue-border {
        position: relative;
        background-color: $blue;
        width: 50px;
        height: 229px;
        float: left;
        z-index: 1000;
      }
      background-color: $yellow;
      h1 {
        z-index: 999;
        font-size: 3.3em;
        position: relative;
        left: -8px;
        bottom: -18px;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      h2 {
        z-index: 1000;
        position: relative;
        background-color: $pink;
        height: 2em;
        bottom: 0;
        color: white;
        font-weight: 700;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
      }
    }
    div.header-text {
      position: relative;
      margin-right: 20px;
      height: 100%;
      h1.typed {
        position: absolute;
        display: inline;
        bottom: 0;
        right: 0;
        margin-bottom: 0;
      }
    }
  }
}

/* project#index */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
  div.project {
    padding: 20px;
    a {
      color: $black;
    }
    &:nth-of-type(3n) {
      background-color: $pink;
    }
    &:nth-of-type(3n+1) {
      background-color: $blue;
    }
    &:nth-of-type(3n+2) {
      background-color: $yellow;
    }
    img {
      display: none;
    }
  }
}
@media only screen and (min-device-width : 481px) {
  div.project {
    @include grid-column(12);
    overflow: hidden;
    &:nth-of-type(3n) {
      background-color: $pink;
    }
    &:nth-of-type(3n+1) {
      background-color: $blue;
    }
    &:nth-of-type(3n+2) {
      background-color: $yellow;
    }
    padding: 20px;
    h1 {
      font-size: 2em;
    }
    p {
      overflow: hidden;
    }
    a {
      color: $black;
    }
    a.delete-link {
      float: right;
    }
    img {
      float: right;
      transition: margin-top 0.5s ease-in-out;
      margin-top: -500px;
      height: 100%;
    }
    &:hover {
      img {
        margin-top: initial;
      }
    }
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
  ul.menu {
    display: none;
  }
  ul.mobile-menu {
  }
}

@media only screen and (min-device-width : 481px) {
  ul.mobile-menu {
    display: none;
  }
  ul.menu {
    position: fixed;
    left: 0;
    li {
      height: 36px;
      border-bottom: 6px solid;
      h2 {
        font-weight: 700;
        font-size: 1em;
        line-height: 36px;
        a {
          color: $black;
        }
      }
      &:nth-of-type(3n) {
        border-left: 36px solid $pink;
        border-bottom-color: $pink;
        i {
          &:hover {
            color: $pink;
          }
        }
      }
      &:nth-of-type(3n+1) {
        border-left: 36px solid $blue;
        border-bottom-color: $blue;
        i {
          &:hover {
            color: $blue;
          }
        }
      }
      &:nth-of-type(3n+2) {
        border-left: 36px solid $yellow;
        border-bottom-color: $yellow;
        i {
          &:hover {
            color: $yellow;
          }
        }
      }
      &:hover {
        border-bottom-color: $black;
        border-left-color: $black;
      }
    }
  }
}

/* articles#index and articles#show */
div.article-programming {
  border-top: 8px solid $blue;
}
div.article-personal {
  border-top: 8px solid $yellow;
}
div.article-professional {
  border-top: 8px solid $pink;
}
div.article-preview {
  @include grid-column(12);
  position: relative;
  margin-bottom: 20px;
  a {
    color: $black;
    &:hover {
      color: lighten($black, 40%);
    }
  }
  h2.date {
    font-size: 1em;
  }
  h1.title {
    font-size: 2em;
  }
  span.category {
    font-weight: 700;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  span.tag-programming {
    background-color: $blue;
  }
  span.tag-personal {
    background-color: $yellow;
  }
  span.tag-professional {
    background-color: $pink;
  }
  @media only screen and (min-device-width : 481px) {
    p {
      max-width: 50%;
    }
  }
}

/* new/edit form pages */
div.creation {
  @include grid-column (8);
}

/* resume */
div.header {
  @include grid-column(12);
  margin-bottom: 50px;
  h1.name {
    border-bottom: 10px solid $blue;
    font-size: 2.8em;
    display: block;
    clear: both;
  }
}

div.column {
  @include grid-column(5);
  &:nth-child(even) {
    @include grid-push(2);
  }
  h1 {
    border-bottom: 5px solid $blue;
  }
  h2 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 0;
  }
  ul {
    margin-bottom: 20px;
    li {
      position: relative;
      .fa-li {
      }
    }
  }
}
