/* header */
header {
  margin-bottom: 100px;
  height: 296px;
  a {
    color: $black;
    &:hover {
      color: $black;
    }
  }
  div.logo {
    @include grid-column(4);
    border-left: 50px solid $blue;
    background-color: $yellow;
    h1 {
      font-size: 4em;
      position: relative;
      left: -20px;
      bottom: -15px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    h2 {
      position: relative;
      background-color: $pink;
      bottom: 0;
      color: white;
      font-weight: 700;
      margin-bottom: 0px;
      padding-bottom: 0px;
      padding-top: 20px;
    }
  }
  div.header-text {
    position: relative;
    margin-right: 20px;
    height: 100%;
    h1.typed {
      position: absolute;
      display: inline;
      bottom: 0;
      right: 0;
      margin-bottom: 0;
    }
  }
}

/* project#index */
div.project {
  @include grid-column(12);
  &:nth-of-type(3n) {
    background-color: $pink;
  }
  &:nth-of-type(3n+1) {
    background-color: $blue;
  }
  &:nth-of-type(3n+2) {
    background-color: $yellow;
  }
  padding: 20px;
  h1 {
    font-size: 2em;
  }
}

div.menu {
  position: fixed;
  left: 0;
  div.menu-item {
    padding: 5px;
    text-align: left;
    height: 36px;
    min-width: 36px;
    &:nth-of-type(3n) {
      background-color: $pink;
    }
    &:nth-of-type(3n+1) {
      background-color: $blue;
    }
    &:nth-of-type(3n+2) {
      background-color: $yellow;
    }
    span {
      max-width: 0px;
      width: 0px;
      transition: 0.3s ease-in-out;
      overflow: hidden;
      float: right;
      text-align: right;
      white-space: nowrap;
    }
  }
  @for $i from 1 through 4 {
    div.box-#{$i} {
      float: left;
      clear: both;
      &:hover {
        span.span-#{$i} {
          width: 100px;
          max-width: 200px;
          display: initial;
          text-align: right;
        }
      }
    }
  }
  a {
    color: $black;
  }
}

/* articles#index and articles#show */
div.article-programming {
  border-top: 8px solid $blue;
}
div.article-personal {
  border-top: 8px solid $yellow;
}
div.article-professional {
  border-top: 8px solid $pink;
}
div.article-preview {
  @include grid-column(12);
  position: relative;
  margin-bottom: 20px;
  a {
    color: $black;
    &:hover {
      color: lighten($black, 40%);
    }
  }
  h2.date {
    font-size: 1em;
  }
  h1.title {
  }
  span.category {
    font-weight: 700;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  span.tag-programming {
    background-color: $blue;
  }
  span.tag-personal {
    background-color: $yellow;
  }
  span.tag-professional {
    background-color: $pink;
  }
  p {
    max-width: 50%;
  }
}

/* articles#new/edit */
div.article_creation {
  @include grid-column (8);
}
