/* header */
header {
  margin-bottom: 100px;
  height: 296px;
  a {
    display: block;
    color: $black;
    &:hover {
      color: $black;
    }
  }
  div.logo {
    @include grid-column(4);
    border-left: 50px solid $blue;
    background-color: $yellow;
    h1 {
      font-size: 4em;
      position: relative;
      left: -20px;
      bottom: -15px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    h2 {
      position: relative;
      background-color: $pink;
      bottom: 0;
      color: white;
      font-weight: 700;
      margin-bottom: 0px;
      padding-bottom: 0px;
      padding-top: 20px;
    }
  }
  div.header-text {
    position: relative;
    margin-right: 20px;
    height: 100%;
    h1.typed {
      position: absolute;
      display: inline;
      bottom: 0;
      right: 0;
      margin-bottom: 0;
    }
  }
}

/* project#index */
div.project {
  @include grid-column(12);
  overflow: hidden;
  &:nth-of-type(3n) {
    background-color: $pink;
  }
  &:nth-of-type(3n+1) {
    background-color: $blue;
  }
  &:nth-of-type(3n+2) {
    background-color: $yellow;
  }
  padding: 20px;
  h1 {
    font-size: 2em;
  }
  p {
    overflow: hidden;
  }
  a {
    color: $black;
  }
  a.delete-link {
    float: right;
  }
  img {
    float: right;
    transition: margin-top 0.5s ease-in-out;
    margin-top: -500px;
  }
  &:hover {
    img {
      margin-top: initial;
    }
  }
}

ul.menu {
  position: fixed;
  left: 0;
  li {
    height: 36px;
    border-bottom: 6px solid;
    h2 {
      font-weight: 700;
      font-size: 1em;
      line-height: 36px;
      a {
        color: $black;
      }
    }
    &:nth-of-type(3n) {
      border-left: 36px solid $pink;
      border-bottom-color: $pink;
    }
    &:nth-of-type(3n+1) {
      border-left: 36px solid $blue;
      border-bottom-color: $blue;
    }
    &:nth-of-type(3n+2) {
      border-left: 36px solid $yellow;
      border-bottom-color: $yellow;
    }
  }
}

/* articles#index and articles#show */
div.article-programming {
  border-top: 8px solid $blue;
}
div.article-personal {
  border-top: 8px solid $yellow;
}
div.article-professional {
  border-top: 8px solid $pink;
}
div.article-preview {
  @include grid-column(12);
  position: relative;
  margin-bottom: 20px;
  a {
    color: $black;
    &:hover {
      color: lighten($black, 40%);
    }
  }
  h2.date {
    font-size: 1em;
  }
  h1.title {
    font-size: 2em;
  }
  span.category {
    font-weight: 700;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  span.tag-programming {
    background-color: $blue;
  }
  span.tag-personal {
    background-color: $yellow;
  }
  span.tag-professional {
    background-color: $pink;
  }
  p {
    max-width: 50%;
  }
}

/* new/edit form pages */
div.creation {
  @include grid-column (8);
}

/* resume */
div.header {
  @include grid-column(12);
  margin-bottom: 50px;
  h1.name {
    border-bottom: 10px solid $blue;
    font-size: 2.8em;
    display: block;
    clear: both;
  }
}

div.column {
  @include grid-column(5);
  &:nth-child(even) {
    @include grid-push(2);
  }
  h1 {
    border-bottom: 5px solid $blue;
  }
  h2 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 0;
  }
  ul {
    margin-bottom: 20px;
    li {
      position: relative;
      .fa-li {
      }
    }
  }
}
